
@{
    ViewBag.Title = "Groups";
}

<h2>Groups</h2>
<hr />
<p>
    @Html.ActionLink("Back", "Index", "Admin")
</p>
<br />

<script type="text/javascript">
    function viewDetails(e) {
        e.preventDefault();
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        var itemId = dataItem.Id

        @*window.location.href = "@Url.Action("Details","AdminUsers")?id=" + itemId;*@

    };
</script>

@(Html.Kendo().Grid<TeamGeneratorApp.Models.ViewModels.AdminGroupsIndexVM>()
    .Name("groupsGrid")
    .Columns(columns =>
    {
        columns.Bound(p => p.Name);
        columns.Bound(p => p.Description);
        columns.ForeignKey(p => p.OwnerId, (System.Collections.IEnumerable)ViewData["owners"], "Id", "Name")
            .Title("Owner").Width(200);
        columns.Command(command => { command.Edit(); command.Destroy(); }).Width(200);
        columns.Command(command => command.Custom("Details").Click("viewDetails"));
    })
    .ToolBar(toolbar => toolbar.Create())
    .Editable(editable => editable.Mode(GridEditMode.InLine))
    .Pageable()
    .Sortable()
    .Scrollable()
    .HtmlAttributes(new { style = "height:550px;" })
    .DataSource(dataSource => dataSource
        .Ajax()
        .Batch(true)
        .ServerOperation(false)
        .PageSize(20)
        .Events(events => events.Error("error_handler"))
         .Model(model =>
         {
             model.Id(p => p.Id);
         })
        .Create(update => update.Action("AdminGroupsGrid_Create", "AdminGroups"))
        .Read(read => read.Action("AdminGroupsGrid_Read", "AdminGroups"))
        .Update(update => update.Action("AdminGroupsGrid_Update", "AdminGroups"))
        .Destroy(update => update.Action("AdminGroupsGrid_Destroy", "AdminGroups"))
    )

)
<script type="text/javascript">
    function error_handler(e) {
        if (e.errors) {
            var message = "Errors:\n";
            $.each(e.errors, function (key, value) {
                if ('errors' in value) {
                    $.each(value.errors, function() {
                        message += this + "\n";
                    });
                }
            });
            alert(message);
        }
    };

</script>


