@model dynamic

@{
    ViewBag.Title = "Admin panel";
}

<h2>Admin panel</h2>
<br />

<table class="table">
   
    <tr>
        <td>@Html.ActionLink("Users", "Index", "AdminUsers")</td>
    </tr>
    <tr>
        <td>@Html.ActionLink("Groups", "Index", "AdminGroups")</td>
    </tr>
    

</table>
