@model dynamic

@{
    ViewBag.Title = "Admin panel";
}

<p>
    <h2>Admin panel</h2>
</p>

<table class="table">
   
    <tr>
        <td>@Html.ActionLink("Users", "UserIndex", "Admin")</td>
    </tr>
    <tr>
        <td>@Html.ActionLink("Groups", "GroupIndex", "Admin")</td>
    </tr>
    

</table>
