@{
    ViewBag.Title = "Home";
}
<p>
    <h2>Dashboard</h2>
    <hr/>
</p>

<div id="tabs">
    <ul class="nav nav-tabs">
        <li class="active">
            <a href="#Votings" data-toggle="tab">Votings</a>
        </li>
        <li>
            <a href="#Invitations" data-toggle="tab">Invitations</a>
        </li>
    </ul>

    <div class="tab-content">
        <div class="tab-pane active" id="Categories">
            @*@Html.Action("VotingsGrid", "Groups", new { userId = ViewBag.UserId })*@
        </div>
        <div class="tab-pane" id="Invitations">
            @Html.Action("InvitationsGrid", "Home", new { userId = ViewBag.UserId })
        </div>
    </div>

</div>